body {
    background-color:rgb(162, 222, 247);
}

h1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
}

.topnav {
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    word-spacing: 5px;
    margin-bottom: 25px;
    
}

p {
    text-justify: right;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    font-size: large;
}

#dc-second {
    height: 20rem;
    width: 23rem;
}

.logo {
    height: 50px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
}
img {
   float: left;
   margin-top: 5px;
   margin-right: 12px;
   margin-bottom: 3px;

}