#justiceleague-first {
    height: 260px;
    width: 450px;
}
#justiceleague-second {
    height: 250px;
    width: 450px;
}
#enemies {
    height: 250px;
    width: 450px;
}
.logo {
    height: 50px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
}