.logo {
    height: 50px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
}
#wonderwoman-first {
    height: 250px;
    width: 170px;
}
#wonderwoman-second {
    height: 250px;
    width: 450px;
}
#wonderwoman-third {
    height: 250px;
    width: 450px;
}
#enemies {
    height: 250px;
    width: 450px;
}
h1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: black;
    margin-bottom: 10px;
}

.topnav {
  
    border-radius: 10px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    word-spacing: 5px;
    
}