* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(228, 23, 23);
}

.logo {
    height: 50px;
    width: 60px;
    overflow: hidden;
    border-radius: 100%;
}
#wonderwoman-first {
    height: 250px;
    width: 170px;
}
#wonderwoman-second {
    height: 250px;
    width: 450px;
}
#wonderwoman-third {
    height: 250px;
    width: 450px;
}
#enemies {
    height: 250px;
    width: 450px;
}
h1 {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    color: blue;
    margin-bottom: 10px;
}

.topnav {
        border-radius: 10px;
        font-weight: bold;
        text-align: center;
        margin: 0 auto;
        text-transform: uppercase;
        word-spacing: 5px;
        margin-bottom: 25px;
        
}
.link {
    color: blue;
    text-decoration: none;
    text-align: center;
    border: 1px solid blue;
    border-radius: 10%;
}
img {
    float: left;
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: 3px;
 
 }
 p {
    text-justify: right;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    font-size: large;
    color: rgb(218, 215, 40);
 }
 h2, h3, h4, h5 {
    color: rgb(17, 0, 255);
 }
 .footer {
    color: rgb(0, 47, 255);
 }